html{
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  display: inline-block;
  text-decoration: none;
}

ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
  padding: 0;
}
span{
  display: block;

}
button{
  cursor: pointer;
  border: none;
}

body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: $text;
  font-size: 16px;
}
.container__fluid{
  max-width: 1920px;
  margin: 0 auto;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  background-color: #ffffff;
  padding: 40px 0 40px 29px;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  text-align: left;
  margin-bottom: 50px;
}
.rate-star{
  display: inline-block;
}
.header__profile,
.envelope--touch,
.envelope__menu,
.cart__menu,
.cart__box,
.cart--touch,
.notification__menu,
.notification--touch{
  &::before{
    visibility: hidden;
    position: absolute;
    right: 12px;
    top: 68px;
    content: '';
    width: 0;
    height: 0;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #0674ec;
  }
}
.menu__list{
  a:hover{
    color: #0674ec;
  }
}